$z-index-hovering: 1;

.root {
  --DecisionFlicker-width: 800px;
  border: solid 1px gray; // TODO remove
  box-sizing: border-box;
  height: var(--DecisionFlicker-width);
  margin-left: -1rem;
  margin-right: -1rem;
  // overflow: hidden;
  position: relative;
  width: var(--DecisionFlicker-width);
}

.CurrentCandidateView {
  --CurrentCandidateView-left: 0px;
  --CurrentCandidateView-top: 0px;
  --CurrentCandidateView-width: 64px;
  position: absolute;
  left: calc(50% - (var(--CurrentCandidateView-width) / 2));
  top: 50%;
  transform: translate(
    var(--CurrentCandidateView-left),
    var(--CurrentCandidateView-top)
  );
  z-index: $z-index-hovering;
}

.LiningCandidateView {
  --LiningCandidateView-index: 0;
  --LiningCandidateView-length: 5;
  --LiningCandidateView-progress: calc(
    (var(--LiningCandidateView-length) - var(--LiningCandidateView-index)) /
      var(--LiningCandidateView-length)
  );
  --LiningCandidateView-width: 64px;
  position: absolute;
  left: calc(50% - (var(--LiningCandidateView-width) / 2));
  opacity: calc(0.4 + 0.2 * var(--LiningCandidateView-progress));
  top: calc(
    50% +
    (var(--LiningCandidateView-index) + 1.1) * var(--LiningCandidateView-width)
  );
  transform: scale(calc(0.4 + 0.4 * var(--LiningCandidateView-progress)));
}

.candidateView {
  background-color: #fff9;
  height: var(--CurrentCandidateView-width);
  pointer-events: none; // better idea?
  width: var(--CurrentCandidateView-width);
}
