.root {
  --DecisionFlicker-width: 800px;
  border: solid 1px gray; // TODO remove
  box-sizing: border-box;
  height: var(--DecisionFlicker-width);
  margin-left: -1rem;
  margin-right: -1rem;
  // overflow: hidden;
  position: relative;
  width: var(--DecisionFlicker-width);
}

.CurrentCandidateView {
  --CurrentCandidateView-left: 0px;
  --CurrentCandidateView-top: 0px;
  --CurrentCandidateView-width: 64px;
  position: absolute;
  left: calc(50% - (var(--CurrentCandidateView-width) / 2));
  top: calc(50% - var(--CurrentCandidateView-width));
  transform: translate(
    var(--CurrentCandidateView-left),
    var(--CurrentCandidateView-top)
  );
}

.candidateView {
  background-color: #fff9;
  height: var(--CurrentCandidateView-width);
  pointer-events: none; // better idea?
  width: var(--CurrentCandidateView-width);
}

.CategoryView {
  --CategoryView-left: 0;
  --CategoryView-top: 0;
  --CategoryView-width: 100px;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: #666;
  display: flex;
  height: var(--CategoryView-width);
  justify-content: center;
  left: calc(50% - (var(--CategoryView-width) / 2));
  position: absolute;
  top: calc(50% - (var(--CategoryView-width) / 2));
  transform: translate(var(--CategoryView-left), var(--CategoryView-top));
  width: var(--CategoryView-width);

  &:hover,
  &[data-hovered="true"] {
    border: solid 1px lightgray;
    z-index: 1;
  }
}
