.root {
  border: solid 1px gray; // TODO remove
  box-sizing: border-box;
  height: 400px;
  margin-left: -1rem;
  margin-right: -1rem;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.candidateView {
  bottom: 0;
  left: calc(50% - (var(--CandidateImage-width) / 2));
  position: absolute;
}

.CategoryView {
  --CategoryView-cos: 0;
  --CategoryView-sin: 0;
  --CategoryView-width: 100px;
  align-items: center;
  border-radius: 4px;
  bottom: 1px;
  box-sizing: border-box;
  color: #666;
  display: flex;
  height: var(--CategoryView-width);
  justify-content: center;
  left: calc(50% - (var(--CategoryView-width) / 2));
  position: absolute;
  transform: translate(
    calc((200% - var(--CategoryView-width) / 2) * var(--CategoryView-cos)),
    calc(100% * var(--CategoryView-sin)),
  );
  width: var(--CategoryView-width);

  &:hover {
    border: solid 1px lightgray;
    z-index: 1;
  }
}
