:root {
  --color-theme-bg: #fff;
  --color-theme-fg: #036;
}

body {
  margin: 0;
}

.ui-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.ui-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ui-fill {
  display: block;
  height: 100%;
  width: 100%;
}
